services:
  db:
    image: postgres:15
    container_name: db
    # environment:
    #   POSTGRES_USER: postgres
    #   POSTGRES_PASSWORD: 1234
    #   POSTGRES_DB: products_db
    env_file:
      - db.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: backend_app
    depends_on:
      db:
        condition: service_healthy
    # environment:
    #   DATABASE_URL: postgresql+psycopg2://postgres:1234@db:5432/products_db
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  postgres_data: